.root {
    margin: 0 0 4px;
}

.body {
    display: flex;
}

.label {
    font: inherit;
    font-size: 13px;
    line-height: 16px;
    display: inline-block;
    margin: 0 0 2px;
}

.input {
    border: 1px solid #999;
    border-radius: 6px;
    padding: 7px;
    margin: 0;
    outline: 0;
    height: 22px;
    font: inherit;
    font-size: 12px;
    line-height: 18px;
    box-sizing: border-box;
    width: 100%;
}