.app {
  padding: 20px;
}

.uniheader {
  display: flex;
  align-items: center;
}
.uniLogo {
  width: 100px;
  height: 100px;
}

.field__body {
  display: flex;
}

.field__input {
  width: 100%;
  display: block;
}

.field__button {
  margin: 0 0 0 5px;
  border: 0;
  border-radius: 5px;
  outline: 0;
  font-family: inherit;
}

.variants {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}

.variant {
  margin: 10px;
  background: #ccc;
}

.disabledVariant {
  opacity: 0.5;
}

.list {
  overflow-x: auto;
  margin-right: -20px;
  margin-left: -20px;
}

.list2 {
  display: flex;
  padding: 0 10px;
}

.card {
  flex-shrink: 0;
  background: #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0 10px;
}

.activeCard {
  background: transparent;
  border: 1px solid #ccc;
}